{% extends 'core/base.html' %}
{% load static %}

{% block content %}

<!DOCTYPE html>
<html>

<head>
    <style>
        .horario {
            display: grid;
            grid-template-columns: repeat(8, 1fr);
            grid-template-rows: repeat(11, 1fr);
            grid-gap: 5px;
            padding: 10px;
        }

        .horario div {
            background-color: #f2f2f2;
            padding: 10px;
            text-align: center;
        }

        .horario button {
            padding: 5px;
        }
    </style>
</head>

<body>
    <h1>Horario</h1>
    <h2>{{ dia_actual }}</h2>

    <table>
        <thead>
            <tr>
                <th></th>
                {% for dia in dias %}
                <th>{{ dia }}</th>
                {% endfor %}
            </tr>
        </thead>
        <tbody>
            {% for hora in horas %}
            <tr>
                <td>Hr {{ hora }}</td>
                {% for dia in dias %}
                    <td>
                        {% if dia != 'Sábado' and dia != 'Domingo' %}
                            {% for horario in horarios %}
                                {% if horario.fecha.weekday == forloop.counter0 and horario.bloques_disponibles > 0 %}
                                    <div>
                                        <button>{{ horario.bloques_disponibles }} / {{ horario.bloques_totales }}</button>
                                    </div>
                                {% else %}
                                    <div></div>
                                {% endif %}
                            {% endfor %}
                        {% endif %}
                    </td>
                {% endfor %}
            </tr>
            {% endfor %}
        </tbody>
    </table>
</body>

</html>

{% endblock %}